{% extends "abi/base_search_template.html" %}

{% block title %}ChainKlik - Add Abi{% endblock %}

{% block content %}
<div class="p-3">
    {% if success_message %}
        <div class="alert alert-success">
            {{ success_message }}
        </div>
    {% endif %}
    
    {% if error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
    {% endif %}
    <form method="Post">
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3">
          <label for="id_{{field.name}}" class="form-label">{{field.label}}</label>
          <input type="text" name="{{field.name}}" class="form-control" id="id_{{field.name}}" aria-describedby="{{field.name}}_help">
          <div id="{{field.name}}_help" class="form-text">{{field.errors}}</div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}