{% extends "abi/base_template.html" %}
{% block nav %}
      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
          <a class="navbar-brand p-2 col-sm-2 col-md-1 m-auto" href="#">ChainKliK</a>
          <div class="container position-relative top-0 left-0 p-0">
              <div class="input-group w-100 p-1">
                  <input id="search-keywords" class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search"/>
                  <div class="input-group-append m-0">
                      <button id="button-search" class="btn btn-dark" type="button">Search</button>
                  </div>
                  <ul id="search-suggestions" class="list-group position-absolute top-100 w-100 d-none">
                  </ul>
              </div>
          </div>
          <ul class="navbar-nav px-3 m-auto">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="#"><button type="button" class="btn btn-dark">Connect Wallet</button></a>
            </li>
          </ul>
      </nav>
      <script>
          function delay(callback, ms) {
              var timer = 0;
              return function() {
                  var context = this, args = arguments;
                  clearTimeout(timer);
                  timer = setTimeout(function () {
                      callback.apply(context, args);
                  }, ms || 0);
              };
          }

          function searchAbi(keywords) {
              data = {"keywords": keywords}
              const requestOptions = {
                  method: 'POST', // Use the POST method
                  headers: {
                      'Content-Type': 'application/json', // Set the content type to JSON
                  },
                  body: JSON.stringify(data), // Convert data to JSON format
              };

              console.log(data);

              fetch(window.location.origin + '/abi/api/search_abi', requestOptions)
                .then((response) => response.json())
                .then((data) => {
                    const listContainer = document.getElementById('search-suggestions');
                    listContainer.innerHTML = "";
                    $( "#search-suggestions" ).removeClass("d-none");
                    data.forEach((item) => {
                        console.log(item["_source"]);
                        const a = document.createElement('a');
                        a.className = "list-group-item rounded-0 p-2";
                        a.href = "#";
                        a.textContent = item["_source"]["name"];
                        listContainer.appendChild(a);
                    });
                })
                .catch((error) => {
                    console.error('Error fetching data:', error);
                });
          }

          $(document).ready(function () {
              $('#button-search').on('click', function () {
                  var keywords = $('#search-keywords').val();
                  window.location.href = window.location.origin + '/abi/view/view_search_results/' + keywords;
              });
              $("#search-keywords").keyup(delay(function (e) {
                  var keywords = $('#search-keywords').val().split(/(\s+)/).filter( function(e) { return e.trim().length > 0; });
                  searchAbi(keywords);
              }, 500));
            
              $("#search-keywords").blur(function (e) {
                  $('#search-suggestions').addClass("d-none");
              });
              
              $("#search-keywords").focus(function (e) {
                  $('#search-suggestions').removeClass("d-none");
              });
          });
      </script>
{% endblock %}