{% extends "abi/base_search_template.html" %}

{% block title %}ChainKlik - View Abi{% endblock %}

{% block content %}
<script>
$(document).ready(function () {
    $('#edit-button').on('click', function(){
        window.location.href = window.location.href + "/edit";
    });
});
</script>
<div class="container p-1">
    <div class="card p-d-flex w-100 justify-content-between">
        <div class="card-header d-flex w-100 justify-content-between">
          <h5>{{abi.name}}
              <span class="badge bg-dark mx-1"><a class="list-group-item" href="{{abi.contract_id}}">{{abi.contract}}</a></span>
              {% if abi.type == "function" %}
              <span class="badge bg-info">{{abi.type}}</span>
              {% elif abi.type == "event" %}
              <span class="badge bg-success">{{abi.type}}</span>
              {% else %}
              <span class="badge bg-secondary">{{abi.type}}</span>
              {% endif %}
          </h5>
          <button id="edit-button" type="button" class="btn btn-light">Edit</button>
        </div>
        <div class="card-body">
            <small class="card-subtitle mb-2 text-muted"><a href="https://etherscan.io/address/{{abi.address}}" class="card-link">{{abi.address}}</a></small>
            <p class="card-text">{{abi.desc}}</p>
            {% if abi.type == "contract" %}
                {% for abi in abi.abis %}
                <div class="card m-1">
                    <div class="card-body">
                        <h7 class="card-title fw-bold"><a href="{{abi.id}}">{{abi.name}}</a>
                            {% if abi.type == "function" %}
                            <span class="badge bg-info">{{abi.type}}</span>
                            {% else %}
                            <span class="badge bg-success">{{abi.type}}</span>
                            {% endif %}
                        </h7>
                        <p class="card-text fs-6">{{abi.desc}}</p>
                        <div class="row">
                            {% if abi.abi.inputs|length > 0 %}
                            <div class="card col w-50 m-1">
                                <div class="card-body">
                                    <h7 class="card-title">Inputs</h7>
                                    <table class="table table-sm table-striped">
                                      <thead>
                                        <tr>
                                          <th scope="col">Name</th>
                                          <th scope="col">Type</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for input in abi.abi.inputs %}
                                        <tr>
                                          <td>{{input.name}}</td>
                                          <td>{{input.type}}</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                            {% if abi.abi.outputs|length > 0 %}
                            <div class="card col w-50 m-1">
                                <div class="card-body">
                                    <h7 class="card-title">Outputs</h7>
                                    <table class="table table-sm table-striped">
                                      <thead>
                                        <tr>
                                          <th scope="col">Name</th>
                                          <th scope="col">Type</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for output in abi.abi.outputs %}
                                        <tr>
                                          <td>{{output.name}}</td>
                                          <td>{{output.type}}</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="row m-1">
                {% if abi.abi.inputs|length > 0 %}
                <div class="card col w-50 m-1">
                    <div class="card-body">
                        <h7 class="card-title">Inputs</h7>
                        <table class="table table-sm table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Type</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for input in abi.abi.inputs %}
                            <tr>
                              <td>{{input.name}}</td>
                              <td>{{input.type}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if abi.abi.outputs|length > 0 %}
                <div class="card col w-50 m-1">
                    <div class="card-body">
                        <h7 class="card-title">Outputs</h7>
                        <table class="table table-sm table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Type</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for output in abi.abi.outputs %}
                            <tr>
                              <td>{{output.name}}</td>
                              <td>{{output.type}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}  
        </div>
    </div>
</div>

{% endblock %}