{% extends "abi/base_search_template.html" %}

{% block title %}ChainKlik - View Abi{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
$(document).ready(function () {
    let chart;
  
    $('#edit-button').on('click', function(){
        window.location.href = window.location.href + "/edit";
    });
  
    $('#query-button').on('click', function(){
        const inputs_json = JSON.parse('{{ abi.abi.inputs|escapejs }}'.replace(/'/g, '"'));
        var params = {};
        inputs_json.forEach((input) => {
            params[input["name"]] = $("#input-"+input["name"]).val();
        });
        console.log(params);
        var data = {};
                
        data["name"] = "{{abi.name}}";
        data["contract"] = "{{abi.address}}";
        data["params"] = params;
        data["history"] = $("#output-history").val();
        data["step"] = $("#output-history").find("option:selected").attr("data");
        console.log(data);
        const requestOptions = {
            method: 'POST', // Use the POST method
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data), // Convert data to JSON format
        };
                
        fetch('/abi/api/call_abi', requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Parse the response JSON if needed
            })
            .then(data => {
                // Handle the response data here (e.g., display it on the page)
                console.log(data["latest"]);
                console.log(data["history"]);
                var labels = [];
                var values = {};
                for (var key in data["latest"]){
                    $("#output-value-"+key).text(data["latest"][key]*(10**-$("#output-decimal-"+key).val()));
                    values[key] = [];
                }
                
                var datasets = [];
                
                data["history"]["data"].forEach((d) => {
                    for (var key in d){
                        values[key].push(d[key]*(10**-$("#output-decimal-"+key).val()));
                    }
                });
          
                console.log(values);
                for (var key in data["latest"]){
                    datasets.push({
                      animation: false,
                      label: key,
                      data: values[key]
                    });
                }
                console.log(datasets);
                const ctx = document.getElementById('historyDataChart');
                ctx.className = "";
                var configuration = {
                  type: 'line',
                  data: {
                    labels: data["history"]["eventTime"],
                    datasets: datasets
                  }
                }
                if (chart) {
                  chart.destroy();
                  chart = new Chart(ctx, configuration);
                } else {
                  chart = new Chart(ctx, configuration);
                }
          
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
});
</script>
<div class="container p-1">
    <div class="card p-d-flex w-100 justify-content-between">
        <div class="card-header d-flex w-100 justify-content-between">
          <h6>{{abi.name}}
              <span class="badge bg-secondary mb-1">{{abi.chain}}</span>
              <span class="badge bg-dark mb-1"><a class="list-group-item" href="{{abi.contract_id}}">{{abi.contract}}</a></span>
              {% if abi.type == "function" %}
              <span class="badge bg-info mb-1">{{abi.type}}</span>
              {% elif abi.type == "event" %}
              <span class="badge bg-success mb-1">{{abi.type}}</span>
              {% else %}
              <span class="badge bg-primary mb-1">{{abi.type}}</span>
              {% endif %}
          </h6>
          <button id="edit-button" type="button" class="btn btn-sm btn-light"><i class="fa-solid fa-pen-to-square"></i></button>
        </div>
        <div class="card-body">
            <small class="card-subtitle mb-2 text-muted"><a href="https://etherscan.io/address/{{abi.address}}" class="card-link">{{abi.address}}</a></small>
            <a href="{{abi.source_code}}" class="card-link link-dark"><i class="fa-brands fa-github"></i></a>
            <p class="card-text">{{abi.desc}}</p>
            {% if abi.type == "contract" %}
                {% for abi in abi.abis %}
                <div class="card m-1">
                    <div class="card-body">
                        <h7 class="card-title fw-bold"><a href="{{abi.id}}">{{abi.name}}</a>
                            {% if abi.type == "function" %}
                            <span class="badge bg-info">{{abi.type}}</span>
                            {% else %}
                            <span class="badge bg-success">{{abi.type}}</span>
                            {% endif %}
                        </h7>
                        <p class="card-text">{{abi.desc}}</p>
                        <div class="row">
                            {% if abi.abi.inputs|length > 0 %}
                            <div class="card col w-50 mx-1">
                                <div class="card-body p-1">
                                    {% if abi.type == "event" %}
                                    <span class="card-title">Events</span>
                                    {% else %}
                                    <span class="card-title">Inputs</span>
                                    {% endif %}
                                    <table class="table table-sm table-striped mb-1">
                                      <thead>
                                        <tr>
                                          <th scope="col">Name</th>
                                          <th scope="col">Type</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for input in abi.abi.inputs %}
                                        <tr>
                                          <td>{{input.name}}</td>
                                          <td>{{input.type}}</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                            {% if abi.abi.outputs|length > 0 %}
                            <div class="card col w-50 mx-1">
                                <div class="card-body p-1">
                                    <span class="card-title">Outputs</span>
                                    <table class="table table-sm table-striped mb-1">
                                      <thead>
                                        <tr>
                                          <th scope="col">Name</th>
                                          <th scope="col">Type</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for output in abi.abi.outputs %}
                                        <tr>
                                          <td>{{output.name}}</td>
                                          <td>{{output.type}}</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% elif abi.type == "function" %}
            <div class="row m-1">
                {% if abi.abi.inputs|length > 0 %}
                <div class="card col w-50 m-1">
                    <div class="card-body">
                        <h7 class="card-title">Inputs</h7>
                        <table class="table table-sm table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Type</th>
                              <th scope="col">Value</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for input in abi.abi.inputs %}
                            <tr>
                              <td>{{input.name}}</td>
                              <td>{{input.type}}</td>
                              <td><input id="input-{{input.name}}" type="text" class="form-control" placeholder="{{input.name}} ({{input.type}})"></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if abi.abi.outputs|length > 0 %}
                <div class="card col w-50 m-1">
                    <div class="card-body">
                        <h7 class="card-title">Outputs</h7>
                        <select id="output-history" class="inline form-select form-select-sm">
                            <option selected value=1 data=1>Latest</option>
                            <option value=30 data=3>1 Week</option>
                            <option value=90 data=7>3 Month</option>
                            <option value=180 data=14>6 Month</option>
                            <option value=365 data=30>1 Year</option>
                        </select>
                        <table class="table table-sm table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Type</th>
                              <th scope="col">Decimals</th>
                              <th scope="col">Value</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for output in abi.abi.outputs %}
                            <tr>
                              <td>{{output.name}}</td>
                              <td>{{output.type}}</td>
                              <td>
                                {% if "int" in output.type %}
                                <input type="number" id="output-decimal-{{output.name}}" class="input-decimal form-control" min="0" step="1" value=18>
                                {% endif %}
                              </td>
                              <td id="output-value-{{output.name}}"></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row m-1"><button id="query-button" type="button" class="btn btn-dark btn-sm col-3 m-auto">Query</button></div>
            {% else %}
            <div class="row m-1">
                {% if abi.abi.inputs|length > 0 %}
                <div class="card col w-50 m-1">
                    <div class="card-body">
                        <h7 class="card-title">Events</h7>
                        <table class="table table-sm table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Type</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for input in abi.abi.inputs %}
                            <tr>
                              <td>{{input.name}}</td>
                              <td>{{input.type}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            <canvas id="historyDataChart" class="d-none"></canvas>
        </div>
    </div>
</div>

{% endblock %}