body {
  font-size: 0.8em;
}

.navbar {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.table-sm {
  font-size: 0.8em;
}

.table-sm input {
  font-size: 0.8em;
  width: 80%;
}

#search-suggestions {
  max-height: 40em;
  margin-bottom: 0.1em;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}